.menim-narinci-butonum{
    background-color:black;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
}

.Introduction{
    padding-left: 150px;
}

.Introduction{
    padding-right: 150px;
}
.left-side{
    padding-top: 150px;
}

.left-side p{
    margin: 40px 0;
    color: white;
}
.Introduction h6{
    color: yellow;
    text-transform: uppercase;
}